<ion-header padding="true">
  <ion-toolbar>
    <ion-title>
      <img object-fit: cover src="http://localhost:8081/img/update.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="library.title" clear-input="true" class="rounded" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Author</ion-label>
    <ion-input type="text" [(ngModel)]="library.author" clear-input="true" class="rounded" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date Created</ion-label>
    <ion-datetime displayFormat="D MMMM YYYY" placeholder="Select Date" type="date" [(ngModel)]="library.datecreated">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Image</ion-label>
    <ion-input type="file" (change)="changeListener($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="library.cat" placeholder="Select One" disabled>
      <ion-select-option value="1">News</ion-select-option>
      <ion-select-option value="2">Sport</ion-select-option>
      <ion-select-option value="3">Travel</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item text-wrap>
    <ion-label position="stacked">Post</ion-label>
    <ion-textarea type="text" [(ngModel)]="library.post" clear-input="true" class="roundedlong"></ion-textarea>
  </ion-item>

  <ion-button color="warning" slots="start" (click)="updateContent()" class="long">Done</ion-button>

  <ion-button color="danger" slots="icon-only" class="short" (click)="deleteContent(library.id)">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-content>