.ion-text-center {
    text-align: center
}

.rounded {
    width: 100%;
    height: 35px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 8px;
    border-color: grey;
    border-width: 50px;
    background-color: #C0EEFA;
    margin: 10px;  
}

.roundedlong {
    width: 100%;
    height: 500px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    border-color: grey;
    border-width: 50px;
    background-color: #C0EEFA;
    margin: 10px;  
}

.container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}