<ion-header padding="true">
  <ion-toolbar>
    <ion-title>
      <img object-fit: cover src="http://localhost:8081/img/new.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="addContent()">
    <ion-fab-button color="tertiary">
      <ion-icon name="checkmark-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="cancel()">
    <ion-fab-button color="danger">
      <ion-icon name="close" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="data.title" clear-input="true" class="rounded"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Author</ion-label>
    <ion-input type="text" [(ngModel)]="data.author" clear-input="true" class="rounded"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date Created</ion-label>
    <ion-datetime displayFormat="D MMMM YYYY" placeholder="Select Date" type="date" [(ngModel)]="data.datecreated">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Image</ion-label>
    <ion-input type="file" (change)="changeListener($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [(ngModel)]="data.cat" placeholder="Select One">
      <ion-select-option value="1">News</ion-select-option>
      <ion-select-option value="2">Sport</ion-select-option>
      <ion-select-option value="3">Travel</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item text-wrap>
    <ion-label position="stacked">Post</ion-label>
    <ion-textarea type="text" [(ngModel)]="data.post" clear-input="true" class="roundedlong"></ion-textarea>
  </ion-item>
</ion-content>