<ion-header padding="true" no-border>
  <ion-toolbar>
    <ion-title>
      <img object-fit: cover src="http://localhost:8081/img/logo1.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goAddContent()">
    <ion-fab-button color="tertiary">
      <ion-icon name="add" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-segment [(ngModel)]="categorySelected" (ionChange)="loadLibrary()" color="dark" scrollable="true">
    <ion-segment-button value="1" class="segment">
      <ion-label>News</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" class="segment">
      <ion-label>Sport</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" class="segment">
      <ion-label>Travel</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let library of LibraryList">
      <ion-card (click)="goDetailContent(library)">
        <ion-card-content>
          <img object-fit: cover src={{library.img}}>
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{library.author}}</ion-card-subtitle>
          <ion-card-title>{{library.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
