<ion-header padding="true">
  <ion-toolbar>
    <ion-title>
      <img object-fit: cover src="http://localhost:8081/img/logo1.jpg">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="back()">
    <ion-fab-button color="tertiary">
      <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goUpdateContent(library)">
    <ion-fab-button color="warning">
      <ion-icon name="create" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{library.author}}</ion-card-subtitle>
      <ion-card-subtitle>{{library.datecreated}}</ion-card-subtitle>
      <ion-card-title>{{library.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src={{library.img}}>
    </ion-card-content>

    <ion-card-content>{{library.post}}</ion-card-content>
  </ion-card>
</ion-content>